.background    { background: rgb( 139, 69, 19);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb( 0, 0, 0); }
.wall          { background: gray;    }

.actor    { position: absolute;  }
.boost    { background: rgb(255, 165, 0);}
.coin     { background: rgb(241, 229, 89); }
.enemy    { background: green; }
.player   { background: rgb(0, 255, 255); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}